<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menu.level"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="level">
        <ion-header-bar class="bar-stable">
            <div class="title">DAF KOMPAKT</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">

        <ion-item >DAF KOMPAKT A1</ion-item>
        <ion-item >DAF KOMPAKT A2</ion-item>
        <ion-item >DAF KOMPAKT B1</ion-item>


        </ion-content>
    </ion-side-menu>
</ion-side-menus>
